:root {
	--base00: #1a1b26;
	--base01: #3a3c4e;
	--base02: #4d4f68;
	--base03: #626483;
	--base04: #62d6e8;
	--base05: #fafafa;
	--base06: #f1f2f8;
	--base07: #f7f7fb;
	--base08: #ff79c8;
	--base09: #b45bcf;
	--base0A: #ebff87;
	--base0B: #00f769;
	--base0C: #a1efe4;
	--base0D: #62d6e8;
	--base0E: #b45bcf;
	--base0F: #ebff87;
	--purple: #bd93f9;

	--tridactyl-fg: var(--base05);
	--tridactyl-bg: var(--base00);
	--tridactyl-url-fg: var(--base08);
	--tridactyl-url-bg: var(--base00);

	/* Hint character tags */
	--tridactyl-hintspan-fg: var(--base00) !important;
	--tridactyl-hintspan-bg: var(--purple) !important;

	/* Element Highlights */
	--tridactyl-hint-active-fg: none;
	--tridactyl-hint-active-bg: none;
	--tridactyl-hint-active-outline: none;
	--tridactyl-hint-bg: none;
	--tridactyl-hint-outline: none;
}

/* completions */
#completions {
	color: var(--tridactyl-fg);
	background: var(--tridactyl-bg) !important;
	border-top: unset;
	order: 1;
}

#completions .sectionHeader {
	background: unset !important;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 500;
}

.TridactylStatusIndicator {
	display: none !important;
}

#command-line-holder {
	order: 2;
	color: var(--tridactyl-fg);
	background-color: var(--tridactyl-bg);
}

#tridactyl-input {
	color: var(--tridactyl-fg);
	background: var(--tridactyl-bg);
	padding-bottom: 25px;
}
